*{
    margin: 0;
    padding: 0;
}
.navbar.part1 ul li{
    width: 20%;
	display: inline;
	margin-left: 25%;
	margin-right: -5%;
    position: relative;
}

.backgroundimage{
    background-image: url("image/main-slider-3-1.jpg");
    height: 800px;
    color: #15c69e;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    background-repeat: no-repeat;
    background-size: cover;

       
}
@font-face {
    font-family: reey;
    src :url("font/Reey-Regular.otf") format("opentype");
}
.txt{
  width: 700px;
  height: 100px;
  position: relative;
  animation-name: mymove;
  animation-duration: 5s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

.btn{
  background-color: rgb(224, 210, 210); 
  border: none; 
  color: rgb(15, 15, 15); /* White text */
  /* margin: 5px;  */
  font-size: 10px; /* Set a font size */
  cursor: pointer;
  border-radius: 60%;
  display: inline;
}
.btn:hover {
  background-color: #15c79f;
}

.dropdown-toggle::after {
    content: none;

}

.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar-collapse ul li a:hover{
    background-color: aqua;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: aqua;
    border: none;

  }
  .rotate {
    animation: rotation 16s infinite linear;
    }
    
    
    
    @keyframes rotation {
    from {
    transform: rotateY(0deg);
    }
    to {
    transform: rotateY(359deg);
    }
    }
  .button:hover {background-color: #566461d0}
  
  .button:active {
    background-color: #0c9ed893;
    transform: translateY(4px);
  }
  .header {
    padding: 60px;
    text-align: center;
    background: #041C32;
    color: white;
    /* font-size: 30px; */
    
  }

  a{
      text-decoration: none;
  }
  
  .imagui {
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    text-align: left;
  }
  .part3{
    background-image: url("image/bg.jpg");
    height: 500px;
    width: 300px;
    color: #15c69e;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  .part4{
    height: 500px;
    width: 600px; 
    opacity: 0;
    background-image: url("image/why-choose-bg.jpg");
    margin: 30px;
    padding: 30px;
      
  }
  
  
  
  .h4 {
    color: white;
    font-size: medium;
  }
  p.ex {
    font-size: smaller;
  }
 .brand-one{
   background-color: #15c79f;
   padding: 60px 0 60px 0;

 }


 .brand-one ul li{
   list-style:none;
   display: inline;
 }



 .brandimge{
   background-image: url("image/brand-1-1.png");
    width: 102px;
    height: 234px;
    opacity: 0.5;
 }

 .backimgg:hover{
   background-color: white;
 }
.cause{
  font-family:cursive;
  font-size:xx-large;
  color: black;

}
.card-deck{
  padding: 10px;
  padding: 10px;
  width: 20%;
  height: 20%;
  display: inline-block;
}

